body{
    margin: 0;
    padding:0;
    background: #232b2b
}
.header
{
    background: whitesmoke;

}
.header > h1
{
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.Scoreboard
{
    border: solid whitesmoke 4px;
    width: 30%;
    margin: auto;
    border-radius: 10px;

}
table
{
    width: 100%;
    margin: auto;
    text-align: center;
    color: whitesmoke;


}
.player
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: whitesmoke;
    display: inline;
    text-align: center;


}

.results > h3 
{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-size: 20px;
}

.Choices
{
    text-align: center;
}
.rpschoice
{
    display: inline-block;
    color: #FBEEE4;
    margin: 0 30px;
    border: 2px solid #bde6e6;
    border-radius: 10%;
    transition: all 0.3s ease;
}
.rpschoice:hover {
    cursor: pointer;
    background-color: #0e1111;
}
img
{
    width: 120px;
    height:120px;
}


